@import 'assets/styles/styles';

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #484c52;

  .container {
    background-color: #484c52;
    padding: 20px;
    width: 400px;

    .header_container {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .bad_request {
      font-size: 14px;
      color: #e36464;
    }

    .form_container {
      display: flex;
      flex-direction: column;

      .forgot_password {
        color: #93b1ffb2;
        text-decoration: none;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
          opacity: 0.8;
        }
      }

      .not_account {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .not_account_text {
          color: $fontColor;
          text-decoration: none;
          font-size: 14px;
        }

        .link_sign_up {
          color: #93b1ffb2;
          text-decoration: none;
          font-size: 14px;

          &:hover {
            text-decoration: underline;
            opacity: 0.8;
          }
        }
      }
    }
  }
}
