@import 'assets/styles/styles';

.input_container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  height: 48px;

  .input_label {
    color: $fontColor;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  .input {
    border: none;
    color: $fontColor;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    width: 400px;
    border-bottom: transparent;
    background: inherit;
    padding: 8px;
    position: relative;
  }
  :hover,
  :focus {
    outline: none;
    border-bottom-color: #faaa33;
  }
}
