.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .header_container {
    text-align: center;
    color: #484c52;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    padding: 0 0 52px;
  }

  .sign_in_container {
    text-align: center;
    cursor: pointer;
    color: blue;
  }

  .button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 52px 0 35px;
  }

  .button {
    width: 295px;
    height: 63px;
    background-color: #faaa33;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
  }

  .acc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text_acc {
    color: #484c52;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0 0 7px;
  }

  .button_acc {
    width: 60px;
    height: 24px;
    color: #fff;
    border-radius: 30px;
    background: #faaa33;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
  }
}
