.container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid grey;
  flex-direction: column;
  width: 20%;
  min-height: 100vh;

  .cabinet{
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #575c63;
    border-bottom: 1px solid grey;
    z-index: 999;
  }

  .widgets{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%;
    min-height: 300px;
    margin-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
  }

  .other{
    width: 100%;
    min-height: 300px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
  }
}
