@import 'assets/styles/styles';

.container {
  border: none;
  border-radius: 5px;
  background-color: $primaryColor;
  color: $white;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  padding: 15px;
  font-size: 16px;

  &:hover {
    background: $secondaryColor;
  }
}
