@import "../../../../assets/styles/styles";
.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 200px;
  background-color: #575c63;
  margin-top: 20px;

  .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    padding-left: 8px;
    border-bottom: 1px solid black;
  }
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  min-height: 400px;
}

