.dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 280px;
  height: 100%;

  .dropdownToggle {
    background-color: #575c63;
    width: 300px;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .arrowIcon {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 5px;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: white transparent transparent transparent;
    }
  }

  .dropdownMenu {
    width: 278px;
    min-height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    color: black;
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-top: none;
    visibility: hidden;
    transition: min-height 0.3s;
    border-radius: 0 0 8px 8px;
    cursor: pointer;

    li {
      padding: 10px;

      &:hover {
        background-color: #fafafa;
      }
    }
  }

  &.open {
    .dropdownMenu {
      min-height: 100px;
      visibility: visible;
      animation: fadeIn 0.3s ease-in-out forwards;
    }
  }

  &.closing {
    .dropdownMenu {
      min-height: 0;
      visibility: hidden;
      animation: fadeOut 0.3s ease-in-out forwards;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
