$black: #000000;
$white: #FFFFFF;

$background: #C5D4C9;
$primaryColor: #6147C6;
$secondaryColor: #4FACF7;
$active: #DF133C;

$fontFamily: 'Roboto';
$fontSize: '16px';

$regularWeight: '400';
$mediumWeight: '500';
$boldWeight: '700';

$miniMobile: 320px;
$mobile: 480px;
$miniTablet: 640px;
$mediumTablet: 768px;
$tablet: 960px;
$desktop: 1440px;
