$black: #000000;
$white: #ffffff;

$background: #484c52;
$primaryColor: #484c52;
$primaryColor2: #93b1ff;
$labelColor: rgba(255, 255, 255, 0.5);
$secondaryColor: #93B1FFB2;
$errorColor: #E36464;
$backgroundInputError: rgba(219, 57, 57, 0.30);
$backgroundInput: #3a3e42b2;
$inputHover: 3a3e42;
//$primaryColor: #FAAA33;
//$secondaryColor: #484C52;
$blockColor: #d9d9d9;
$header: #575c63;
$colorPlaceholder: rgba(255, 255, 255, 0.5);

$fontFamily: 'Roboto';
$fontSize: '16px';
$fontColor: $white;

$regularWeight: '400';
$mediumWeight: '500';
$boldWeight: '700';

$imagesArrow: url('../icon/arrow.svg');
$iconEmail: url('../icon/mail.svg');
$iconAccount: url('../icon/account.svg');
$iconLock: url('../icon/lock.svg');

$miniMobile: 320px;
$mobile: 480px;
$miniTablet: 640px;
$mediumTablet: 768px;
$tablet: 960px;
$desktop: 1440px;
